.column {
    float: left;
    width: 25%;
  }
.listingColumn{
  float: left;
    width: 30%;
}
.userColumn{
  float: left;
    width: 20%;
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.searchCriteria{
  font-family: 'Verdana', sans-serif;
}